doctype html
html
  head
    title Pixel MOBA
    link(rel="stylesheet", href="styles/main.css")
  body
    script(src="bower_components/phaser/build/phaser.js")
    script(src="scripts/mapModule.js")
    script(src="scripts/game.js")
